.nav-bg{
    background-color: #f8f9fa;
}


.carousel-bg{
    background-color: #fceceb;
}

.bag-bg{
    background-color: #da70d6;
}

.shoe-bg{
    background-color: #0000ff;
}

.button-bg{
    background-color: #ff4a92;
}

.subscribe-bg{
    background-color: #fceae8;
}