.nav-bg{
    background-color: #f8f9fa;
}


.carousel-bg{
    background-color: #fceceb;
}

.bag-bg{
    background-color: #da70d6;
}

.shoe-bg{
    background-color: #0000ff;
}

.button-bg{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.subscribe-bg{
    background-color: #fceae8;
   
}